.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  transform: translateY(-20px) perspective(600px) rotateX(10deg); }

.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -ms-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0); }

.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  transform: translateY(-10px) perspective(600px) rotateX(10deg); }

.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8; }

.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1170px; }

.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

[class*='col-'] {
  float: left;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.col-1 {
  width: 100%; }

.col-1-2 {
  width: 50%; }

.col-1-4 {
  width: 25%; }

.col-1-3 {
  width: 33%; }

.col-2-3 {
  width: 66%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #4e525d;
  line-height: 1.5; }

p, h1, h2, h3 {
  padding: 0;
  margin: 0; }

.hidden {
  display: none !important; }

.mobile-menu, .mobile {
  display: none; }

.header {
  background: #fff; }
  .header__logo a {
    color: #49cbcd;
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    line-height: 98px;
    text-decoration: none; }
  .header .nav {
    text-align: right; }
    .header .nav__list {
      margin: 0;
      padding-left: 0;
      height: 98px;
      list-style-type: none; }
      .header .nav__list-item {
        display: inline-block;
        margin-left: -4px; }
        .header .nav__list-item a {
          display: block;
          text-decoration: none;
          font-size: 1.07rem;
          line-height: 100px;
          color: #4e525d;
          padding-left: 21px;
          padding-right: 21px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; }
          .header .nav__list-item a:hover {
            -webkit-box-shadow: inset 0 -3px 0 #49cbcd;
                    box-shadow: inset 0 -3px 0 #49cbcd;
            background: #f8f9fb; }

.scroll-fix {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999; }

.banner__wrap {
  width: 100vw; }
  .banner__wrap-item {
    background: url(../img/banner.jpg) no-repeat center;
    min-height: 570px;
    position: relative;
    text-align: center;
    outline: none; }
    .banner__wrap-item .slider__body {
      position: absolute;
      top: 45%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 100%; }
      .banner__wrap-item .slider__body-head {
        font-weight: 600;
        font-size: 1.9rem;
        color: #fff; }
      .banner__wrap-item .slider__body-text {
        color: #fff;
        font-size: 1.1rem;
        padding-top: 35px;
        padding-bottom: 65px; }
      .banner__wrap-item .slider__body-link a {
        display: inline-block;
        font-size: 1.1rem;
        color: #fff;
        font-weight: 600;
        text-decoration: none;
        padding: 18px 45px;
        border: 3px solid #fff;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        outline: none;
        letter-spacing: 1px; }

.slick-list {
  width: 100vw; }

.slick-prev, .slick-next {
  z-index: 10;
  height: 50px;
  width: 50px;
  background: #fff !important;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .slick-prev:before, .slick-next:before {
    font-family: "FontAwesome";
    color: #49cbcd;
    font-size: 35px; }
  .slick-prev:hover, .slick-next:hover {
    background: #fff; }

.slick-prev {
  left: 30px; }
  .slick-prev:before {
    content: '\f104'; }

.slick-next {
  right: 50px; }
  .slick-next:before {
    content: '\f105'; }

.team {
  background: #fff;
  padding: 110px 0; }
  .team__header {
    text-align: center;
    padding-bottom: 130px; }
    .team__header h2 {
      font-weight: 400;
      font-size: 2.5rem;
      color: #4e525d; }
  .team__wrap {
    text-align: center; }
    .team__wrap-logo a {
      display: inline-block;
      position: relative; }
      .team__wrap-logo a .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        font-size: 3rem;
        color: #f46d6d;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;
        opacity: 0; }
    .team__wrap-logo:hover .inner {
      opacity: 1; }
    .team__wrap-name {
      padding-top: 70px; }
      .team__wrap-name p {
        color: #4e525d;
        font-size: 1.2rem;
        font-weight: 600; }
    .team__wrap-desc {
      padding: 0 10px; }
      .team__wrap-desc p {
        padding-top: 35px; }

.plans {
  padding: 115px 0 100px 0;
  background: #f1f1f1; }
  .plans__wrap {
    text-align: center;
    padding: 0 5px; }
    .plans__wrap-head {
      background: #485460;
      padding: 26px 0; }
      .plans__wrap-head h3 {
        color: #fff;
        font-size: 1.8rem; }
    .plans__wrap-price {
      background: #f8f9fb; }
      .plans__wrap-price p {
        color: #485460;
        font-size: 1.4rem;
        padding: 25px 0; }
    .plans__wrap-body {
      background: #fff; }
      .plans__wrap-body p {
        border-bottom: 1px solid #ecf0f1;
        color: #8c9299;
        padding: 18px 0; }
    .plans__wrap-footer {
      padding: 30px 0;
      background: #f8f9fb; }
      .plans__wrap-footer a {
        display: inline-block;
        padding: 13px 50px;
        font-size: 1.2rem;
        font-weight: 600;
        color: #fff;
        background: #788492;
        text-decoration: none;
        -webkit-border-radius: 5px;
                border-radius: 5px; }
  .plans .hover-active {
    background: #49cbcd; }

.contact {
  background: url(../img/contact-bg.jpg) no-repeat;
  background-size: cover;
  padding: 100px 0; }
  .contact__header {
    text-align: center;
    padding-bottom: 115px; }
    .contact__header h2 {
      font-weight: 400;
      font-size: 2.5rem;
      color: #fff; }
  .contact__social-head {
    padding-bottom: 40px; }
    .contact__social-head p {
      font-size: 1.7rem;
      color: #fff;
      padding-bottom: 15px; }
    .contact__social-head span {
      color: #fff;
      opacity: 0.5; }
  .contact__social-icon .icon {
    display: inline-block;
    height: 42px;
    width: 42px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: red;
    position: relative; }
    .contact__social-icon .icon + a {
      margin-left: 15px; }
    .contact__social-icon .icon img {
      position: absolute;
      height: 18px;
      width: 18px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .contact__social-icon .facebook {
    background-color: #3b5997; }
  .contact__social-icon .twitter {
    background-color: #3ec2f3; }
  .contact__social-icon .google {
    background-color: #e44c41; }
  .contact__social-adress {
    padding-top: 20px; }
    .contact__social-adress p {
      color: #bface2;
      padding-bottom: 11px; }
      .contact__social-adress p a {
        display: inline-block;
        color: #bface2;
        text-decoration: none; }
      .contact__social-adress p a[href^="tel"] {
        text-transform: uppercase; }
      .contact__social-adress p a[href^="mail"] {
        white-space: nowrap; }
  .contact__form {
    text-align: right; }
    .contact__form input {
      display: inline-block;
      width: 46%;
      height: 44px;
      padding-left: 20px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: none;
      outline: none;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      color: #4e525d; }
      .contact__form input + input {
        margin-left: 5%; }
    .contact__form textarea {
      display: inline-block;
      margin: 30px 0;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding-top: 20px;
      padding-left: 20px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 97.5%;
      height: 180px;
      border: none;
      outline: none;
      resize: none;
      color: #4e525d; }
    .contact__form button {
      display: inline-block;
      background-color: #49cbcd;
      color: #fff;
      font-size: 1.5rem;
      padding: 15px 55px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      cursor: pointer;
      border: none;
      outline: none; }

@media (max-width: 880px) {
  .mobile-menu, .mobile {
    display: none; }
  .col-m-1 {
    width: 100%; }
  .col-m-1-2 {
    width: 50%; }
  .banner__wrap-item .slider__body-head {
    font-size: 1.5rem; }
  .header__logo a {
    font-size: 2.5rem; }
  .header .nav__list-item a {
    padding-left: 12px;
    padding-right: 12px; }
  .team {
    padding: 80px 0; }
    .team__header {
      padding-bottom: 60px; }
    .team .team__wrap {
      margin-bottom: 50px; }
      .team .team__wrap-name {
        padding-top: 25px; }
  .plans {
    padding: 80px 0; }
    .plans__wrap {
      width: 65%;
      margin: 0 auto 40px auto; }
  .contact {
    padding: 80px 0;
    text-align: center; }
    .contact__header {
      padding-bottom: 50px; }
    .contact__form {
      padding-top: 25px;
      text-align: center; } }

@media (max-width: 768px) {
  .header .nav__list {
    display: none; }
  .header .mobile-menu {
    display: block;
    text-align: right;
    height: 100px;
    line-height: 100px; }
    .header .mobile-menu .mobile-link {
      display: inline-block;
      width: 38px;
      height: 25px;
      background: #fff;
      vertical-align: middle;
      position: relative;
      border: none;
      outline: none;
      cursor: pointer; }
      .header .mobile-menu .mobile-link span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        height: 3px;
        width: 30px;
        background: #49cbcd;
        border: none;
        outline: none; }
        .header .mobile-menu .mobile-link span:before {
          content: '';
          position: absolute;
          height: 3px;
          width: 30px;
          margin-top: -6px;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          background: #49cbcd;
          -webkit-transition: all 0.25s;
          transition: all 0.25s; }
        .header .mobile-menu .mobile-link span:after {
          content: '';
          position: absolute;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          height: 3px;
          width: 30px;
          margin-top: 10px;
          -webkit-transition: all 0.25s;
          transition: all 0.25s;
          background: #49cbcd; }
      .header .mobile-menu .mobile-link .mobile-active-link {
        background: transparent; }
        .header .mobile-menu .mobile-link .mobile-active-link:before {
          -webkit-transform: rotate(135deg);
              -ms-transform: rotate(135deg);
                  transform: rotate(135deg);
          margin-top: -1px;
          -webkit-transition: all 0.25s;
          transition: all 0.25s;
          left: 0; }
        .header .mobile-menu .mobile-link .mobile-active-link:after {
          -webkit-transform: rotate(-135deg);
              -ms-transform: rotate(-135deg);
                  transform: rotate(-135deg);
          margin-top: -1px;
          -webkit-transition: all 0.25s;
          transition: all 0.25s;
          left: 0; }
  .header .mobile {
    display: none;
    text-align: right;
    position: relative;
    z-index: 999; }
    .header .mobile__list {
      margin: 0;
      padding: 10px;
      list-style-type: none; }
      .header .mobile__list-item a {
        display: inline-block;
        padding: 5px 10px;
        text-decoration: none;
        color: #4e525d;
        font-size: 1.1rem; }
        .header .mobile__list-item a:hover {
          color: #49cbcd;
          background: #4e525d; }
  .banner__wrap-item .slider__body-head h1 {
    font-size: 2.5rem; }
  .banner__wrap-item .slider__body-text {
    padding-bottom: 35px; }
  .banner__wrap-item .slider__body-link a {
    padding: 12px 25px;
    font-size: 1rem; }
  .slick-next, .slick-prev {
    height: 30px;
    width: 30px; }
  .slick-next {
    right: 35px; }
    .slick-next:before {
      font-size: 20px; }
  .slick-prev {
    left: 20px; }
    .slick-prev:before {
      font-size: 20px; }
  .plans__wrap {
    width: 65%;
    margin: 0 auto 40px auto; }
  .contact {
    padding: 80px 0;
    text-align: center; }
    .contact__header {
      padding-bottom: 50px; }
    .contact__form {
      padding-top: 25px;
      text-align: center; } }

@media (max-width: 480px) {
  .col-s-1 {
    width: 100%; }
  .banner__wrap-item .slider__body-head h1 {
    font-size: 1.6rem; }
  .banner__wrap-item .slider__body-text {
    padding: 20px 0; }
    .banner__wrap-item .slider__body-text p {
      font-size: 0.9rem; }
  .banner__wrap-item .slider__body-link a {
    padding: 9px 15px; }
  .plans__wrap {
    margin: 0 auto 40px;
    width: 90%; } }
